<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dietitian Template</title>
<link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<style type="text/css">

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    width:100% !important;
    height: 600px !important;
}
.item img{
  width:100%;
  height:100% !important;

}
.carousel{
    margin-top: 5px;
}
.carousel-indicators{
  position:absolute !important;
  bottom:-50px;
}
.carousel-caption button{
  font-size:30px !important;
}

</style>
</head>
<body>
      <div class="wrap">
							<!--START OF HEADER-->
              <div class="container">
                   <div class="header clearfix">
												
                             <div class="row">
                             		 	<div class="col-md-12">
                                  	<div class="upper-head">
                                    			<div class="row">
                                          		<div class="col-md-6 col-lg-6 col-sm-6">
                                              		<div class="slogan-part">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                                            </div>
                                                        </div>                                                  
																									</div>
                                              </div>
                                              <div class="col-md-6 col-lg-6 col-sm-6">
                                              		<div class="business-logo-part">
                                                          <div class="row">
                                                                <div class="col-md-12">
                                                                    <img src="images/logo.png" border="0" class="img-responsive" />
                                                                </div>
                                                          </div>

                                                  </div>
                                              </div>
                                          </div>
                                         <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                                              <nav class="navbar" role="navigation">
                                                                   
                                                                                <div class="navbar-header">
                                                                                  <button type="button" class="navbar-toggle btn-info btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                                                    <span class="sr-only">Toggle navigation</span>
                                                                        <span class="glyphicon glyphicon-align-justify"></span>
                                                                                  </button>
                                                                                  
                                                                                </div>
                                                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                                                  <ul class="nav navbar-nav">
                                                                                             <li class="active"><a href="index.htm">Home</a></li>
                                                                                             <li><a href="services.htm">Services</a></li>
                                                                                             <li><a href="policies.htm">Policies</a></li>
                                                                                             <li><a href="contact.htm">Contact</a></li>
                                                                                            
                                                                                  </ul>
                                                                                 
                                                                                </div><!-- /.navbar-collapse -->
                                                                </nav>                                   
                                                      
                                                    </div>
                                              
                                         </div>                                          
                                          
                                          
                                    </div>
                                  </div>
                                       
                             </div>

                             
                       </div>   
                              	
               </div>
    		        <!--END OF HEADER-->
                <!--START OF CONTENT-->
                 <div class="container">
                 		<div class="content-home">
                    		<div class="row">
                        
                        
                        
                        
                            <div class="col-md-12">
                            				<div class="upper-potion">
                                    			<div class="row">
                                          			<div class="col-md-4 col-lg-4 col-sm-4">
                                                		
                                                    		<div class="row">
                                                        		<div class="col-md-12">
                                                            		<img src="images/doctor-pic.png" border="0" class="img-responsive" />
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                   
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4">
                                                		<div class="upper-serv-item">
                                                    		<div class="row">
                                                        		
                                                            <div class="col-md-12">
                                                            		<h4>gravida </h4>
                                                            </div>
                                                            <div class="col-md-12">
                                                            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
                                                            </div>
                                                            <div class="col-md-12">
                                                            	<button type="button" class="btn">BOOK NOW</button>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>                                                
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4">
                                                		<div class="upper-serv-item">
                                                    		<div class="row">
                                                        		
                                                            <div class="col-md-12">
                                                            		<h4>accumsan </h4>
                                                            </div>
                                                            <div class="col-md-12">
                                                            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
                                                            </div>
                                                            <div class="col-md-12">
                                                            	<button type="button" class="btn">BOOK NOW</button>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </div>

                                    			</div>
                                    </div>
                            </div>
                            <div class="col-md-12">
                            			<div class="mid-portion">
                                  			<div class="row">
                                                <div class="col-md-6 col-lg-6 col-sm-6">
                                                    <div class="row">

                                                                <div class="col-md-12">
                                                                    <h4>Proin gravida nibh vel velit auctor.</h4>
                                                                </div>
                                                                <div class="col-md-12">
                                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.</p>
                                                                </div> 
                                                                <div class="col-md-12">
                                                                  <button type="button" class="btn">BOOK NOW</button>
                                                                </div>       

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-6">
                                                    <img src="images/map-sample-long.png" border="0" class="img-responsive" />
                                                </div>
                                        </div>
                                  </div>
                            </div>
                            <div class="col-md-12">
                            		<div class="below-portion">
                                		<div class="row">
                                    		<div class="col-md-12">
                                        		<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”</p>
                                        </div>
                                        <div class="col-md-12" style="margin-top:95px;">
                                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </p>
                                        </div>
                                        <div class="col-md-12">
                                        		<div class="social-media">
																					
                                            <a href="#"><div class="twiter">&nbsp;</div></a>
                                            <a href="#"><div class="facebook">&nbsp;</div></a>
                                        		<a href="#"><div class="pint-icon">&nbsp;</div></a>
                                            <a href="#"><div class="google-icon">&nbsp;</div></a>
                                            <a href="#"><div class="linkid-icon">&nbsp;</div></a>
                                            <a href="#"><div class="youtube-icon">&nbsp;</div></a>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                         </div>    	
                    </div>
                    
                 </div>
                <!--END OF CONTENT-->
                <!--START OF FOOTER-->
                 <div class="container">
                 	  <div class="footer">
                          <div class="row">
                          		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                              	<ul>
                                     <li><a href="index.htm">Home</a></li>
                                     <li><a href="services.htm">Services</a></li>
                                     <li><a href="policies.htm">Policies</a></li>
                                     <li><a href="contact.htm">Contact</a></li>                                
                                </ul>
                              </div> 
                              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                  <div class="copyright"> 
                                            Copyright © 2014 Broad Ripple Tickets. All rights reserved.
                                   </div>                       
                              </div>
                              
                                                   
                          </div>
                        </div> 	
                 </div>
                 <!--END OFFOOTER-->
     </div>
      
</body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1-11-1.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script> 
    <script type="text/javascript">
				(function($){
			$('#thumbcarousel').carousel(0);
			var $thumbItems = $('#thumbcarousel .item');
				$('#carousel').on('slide.bs.carousel', function (event) {
				 var $slide = $(event.relatedTarget);
				 var thumbIndex = $slide.data('thumb');
				 var curThumbIndex = $thumbItems.index($thumbItems.filter('.active').get(0));
				 alert(thumbIndex);
				if (curThumbIndex>thumbIndex) {
					$('#thumbcarousel').one('slid.bs.carousel', function (event) {
						$('#thumbcarousel').carousel(thumbIndex);
					});
					if (curThumbIndex === ($thumbItems.length-1)) {
						$('#thumbcarousel').carousel('next');
					} else {
						$('#thumbcarousel').carousel(numThumbItems-1);
					}
				} else {
					$('#thumbcarousel').carousel(thumbIndex);
				}
			});
		})(jQuery);

		</script>   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>