<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Academic Schduling Template</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
      <div class="wrap">
							<!--START OF HEADER-->
              <div class="container">
                  <div class="header clearfix">
                  					<div class="logo">
                            	<div class="row">
                              <span>
                             		<span class="compName">Rentals</span>
                                 <font style="color:#66CC99;">|</font>&nbsp;Nullam ac urna eu felis dapibus condimentum sit amet a augue.
                                 </span>
                              </div>
                            	
                              
                            </div>
                            <nav class="navbar" role="navigation">
                                
                                      
                                              <div class="navbar-header">
                                                <button type="button" class="navbar-toggle btn-info btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                  <span class="sr-only">Toggle navigation</span>
                                                                        <span class="glyphicon glyphicon-align-justify"></span>
                                                </button>
                                                
                                              </div>
                          
                                              <!-- Collect the nav links, forms, and other content for toggling -->
                                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                           <li><a href="index.htm">HOME</a></li>
                                                           <li><a href="services.htm">SERVICES</a></li>
                                                           <li class="active"><a href="policies.htm">POLICIES</a></li>
                                                           <li><a href="contact.htm">CONTACT</a></li>
                                                          
                                                </ul>
                                               
                                                
                                              </div><!-- /.navbar-collapse -->
                                          
                                 
                              </nav> 
                   </div>            	
               </div>
    		        <!--END OF HEADER-->
                <!--START OF CONTENT-->
                 <div class="container">
                 		<div class="content-home clearfix">
                    				<div class="row">
                            		<div class="col-md-12">
																		<div class="slider-portion">
                                    			<div class="row">
                                          		<div class="col-md-12">

                                                    <div class="upper-portion">
                                                          <div class="row">
                                                              <div class="col-md-6 col-lg-6 col-sm-6">
                                                                <img src="images/side-img.png" border="0" class="img-responsive" />
                                                              </div>
                                                              <div class="col-md-6 col-lg-6 col-sm-6">
                                                              			<div class="right-side-cont">
																																			<div class="row" >
                                                                      		<div class="col-md-12">
                                                                              <div class="businessname">Rentals - Doing it the right way</div>
                                                                                                                                                       
                                                                          
                                                                          </div>
                                                                      </div>                                                                   
                                                                    </div>
                                                              </div>
                                                              
                                                          </div>
                                                    </div>                                              
                                              
                                              </div>
                                              <div class="col-md-12">
                                              		<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. </p>
                                              </div>
                                    			</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                		<div class="white-portion">
                                    
                                    			<div class="row">
                                          		<div class="col-md-12">

                                                    <div class="inner-content">
                                                    		<div class="row centered">
                                                        		<div class="col-md-12"><h3>POLICIES</h3></div>
                                                            <div class="col-md-12"><img src="images/title-underliner.png" class="img-responsive" border="0" /></div>
                                                             <div class="col-md-12" style="margin-top:2%;"><p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p></div>
                                                           
                                                        </div>
																							
                                                        
                                                    
                                                    </div>
                                               </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                			<div class="policy-items">
                                     			<div class="row">
                                              
                                               		
                                          			 <div class="col-md-3 col-lg-3 col-sm-3">
                                                 		<div class="row">
                                                    		<div class="col-md-12"><h5>Return Policy</h5></div>
                                                 		</div>
                                                    <div class="row" style="margin-top:4%;">
                                                    		<div class="col-md-12"><p>At Rentals we stand behind everything we do.  If our clients are ever unsatisfied with our products or service we will make it right.  That is our promise to you.
</p></div>
                                                    </div>
                                                 </div>
                                          			 <div class="col-md-3 col-lg-3 col-sm-3">
                                                 		<div class="row">
                                                    		<div class="col-md-12"><h5>Return Policy</h5></div>
                                                 		</div>
                                                    <div class="row" style="margin-top:4%;">
                                                    		<div class="col-md-12"><p>At Rentals we stand behind everything we do.  If our clients are ever unsatisfied with our products or service we will make it right.  That is our promise to you.
</p></div>
                                                    </div>
                                                 </div>
                                          			 <div class="col-md-3 col-lg-3 col-sm-3">
                                                 		<div class="row">
                                                    		<div class="col-md-12"><h5>Return Policy</h5></div>
                                                 		</div>
                                                     <div class="row" style="margin-top:4%;">
                                                    		<div class="col-md-12"><p>At Rentals we stand behind everything we do.  If our clients are ever unsatisfied with our products or service we will make it right.  That is our promise to you.
</p></div>
                                                    </div>
                                                 </div>
                                          			 <div class="col-md-3 col-lg-3 col-sm-3">
                                                 		<div class="row">
                                                    		<div class="col-md-12"><h5>Return Policy</h5></div>
                                                 		</div>
                                                     <div class="row" style="margin-top:4%;">
                                                    		<div class="col-md-12"><p>At Rentals we stand behind everything we do.  If our clients are ever unsatisfied with our products or service we will make it right.  That is our promise to you.
</p></div>
                                                    </div>
                                                 </div>
                                                                                             
                                                  
                                              
	
                                          </div>
                                          <div class="row centered_pol" style="margin-top:6%; margin-bottom:5%;">
                                          			<div class="col-md-12"><p>You may opt-out of receiving communications from our partners and from us by sending an email to Rentals</p></div>
                                          </div>
                                      </div>
                                </div>

                                
                                
                            </div>
                    </div>
                 </div>
                <!--END OF CONTENT-->
                <!--START OF FOOTER-->
                 <div class="container">
                 	  <div class="footer">
                          <div class="row">
                          		<div class="col-md-3 col-lg-3 col-sm-3">
                              			<div class="row">
                                    		<div class="col-md-12"><div class="compName">Rentals</div></div>
                                        <div class="col-md-12" style="margin-top:4%;">
                                        		<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
consequat.</p>
                                        </div>
                              			</div>
                              </div>  
                             	<div class="col-md-3 col-lg-3 col-sm-3">
                              		<div class="row">
                                  		<div class="col-md-12"><h6>Subscribe</h6></div>
                                      <div class="col-md-12" style="margin-top:4%;">
                                      		<input type="text" class="form-control" value="" />
                                      </div>
                                      <div class="col-md-12" style="margin-top:4%;">
                                      	<p>eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                      </div>
                                  </div>
                              </div>  
                              <div class="col-md-6 col-lg-6 col-sm-6">
                              		<div class="row">
                                  		<div class="col-md-12"><h6>Explore</h6></div>
                                  </div>
                                  <div class="row" style="margin-top:4%;">
                                  			<div class="col-md-6 col-lg-6 col-sm-6">
                                        		<div class="row">
                                            			<div class="col-md-6 col-lg-6 col-sm-6">
                                                  		<div class="row">
																													<div class="col-md-12">
                                                                <ul>
                                                                    <li>Torquent </li>
                                                                    <li>Felis </li>
                                                                    <li>Condimentum</li>
                                                                    <li>Amet </li>
                                                                </ul>
                                                          		
                                                          </div>
                                                  		</div>
                                                  </div>
                                                  <div class="col-md-6 col-lg-6 col-sm-6">
                                                  
                                                  		<div class="row">
																													<div class="col-md-12">
                                                                <ul>
                                                                    <li>Condimentum  </li>
                                                                    <li>Ipsum </li>
                                                                    <li>Odio</li>
                                                                    <li>Aptent</li>
                                                                </ul>
                                                          		
                                                          </div>
                                                  		</div>                                                  
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-6">
                                        			<div class="row">
                                              			<div class="col-md-12">

                                                        <div class="small-nav">
                                                            <ul>
                                                                <li><a href="index.htm">Home</a></li>
                                                                <li>/</li>
                                                                <li><a href="services.htm">Services</a></li>
                                                                <li>/</li>
                                                                <li><a href="policies.htm">Policies</a></li>
                                                                <li>/</li>
                                                                <li><a href="contact.htm">Contact</a></li>
                                                               
                                                                
                                                            </ul>
                                                        </div>                                                    
                                                    
                                                    </div>
                                        			</div>
                                        			<div class="row">
                                              			<div class="col-md-12">
                                                    		<div class="copyright">
                                                        		Copyright © 2014 GigaBook.com <br />Powered By Gigabook. All rights reserved.
                                                        </div>
                                                    </div>
                                        			</div>                                              
                                        </div>
                                  </div>
                              </div>                        
                          </div>
                        </div> 	
                 </div>
                 <!--END OFFOOTER-->
     </div>
      
</body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1-11-1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>